__pycache__
mmdetection
mmsegmentation
.neptune
lightning_logs
*.out
*.csv
datasets
*.jpg
*.pdf
*.png
checkpoints
work_dirs/
build/
dist/
experiments*
img
.vscode
figures
results
assets
!tools/figures